/* Organize CSS elements by position in tree. */

body {
    font-size: 1em;
}

#wrap {
}

#side {
}

#content {
}
    
header#head {
}

nav, article, footer {
}

/*Generics*/
h1 { 
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: .8em;
}

h6 {
    font-size: .6em;
}

/*Header*/
h6#tagline {
}

/*Navi*/
ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
}

li a:hover {
}

li a:visited {
}

/*Article*/
header.article {
}

/*Footer*/
footer {
}

/*Log*/
table#log {
   font-family: monospace;
}

table#log th:nth-child {
   font-size: 150%;
}

table#log tr:nth-child(even) {
    background: #7777BB;
}

table#log tr > td:first-child {
    width: 75px;
}

table#log tr > td:nth-child(2n) {
    font-weight: bold;
}

table#log tr > td:nth-child(3n) {
    width: 400px;
}

/*This is needed to display some of the properties on the new HTML5 tags*/
header, nav, footer, section, article {
    display: block;
}
    