body { 
    margin:0 0 0 100px;
    padding:0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#7777bb;
}

header {
    margin:0 0 0 0;
    padding:0 0 10px 0;
    border-bottom: 1px solid black;
}

hgroup {
    margin:0 0 0 0;
    padding:0 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    margin:0 0 0 0;
    padding:0 0 0 0;
}

h1 { 
    font-weight: bold;
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: .8em;
}

h6 {
    font-size: .6em;
}

nav {
    
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 15px;
}

article {
    margin:0 0 0 0;
    padding:0 0 0 0;
}

table#log {
	font-family: monospace;
}

footer {
    margin:0 0 0 0;
    padding:0 0 0 0;
    border-top: 1px solid black;
    padding: 5px;
}

footer p {
    font-size: 80%;
}

/*This is needed to display some of the properties on the new HTML5 tags*/
header, nav, footer, section, article {
    display: block;
}
    