body { 
       font-family: Arial, Helvetica, sans-serif;
       margin-left: 200px;
 }

h1 { 
     font-weight: bold;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 15px;
}

footer p {
    font-size: 80%;
}

    