body { 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    font-size: 1em;
 }

h1 { 
    font-weight: bold;
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: .8em;
}

h6 {
    font-size: .6em;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 15px;
}

header {
    border-bottom: 1px solid black;
}

section {
    height: 400px;
}

footer {
    border-top: 1px solid black;
    padding: 5px;
}
footer p {
    font-size: 80%;
}

/*This is needed to display some of the properties on the new HTML5 tags*/
header, nav, footer, section {
    display: block;
}
    